<!-- nerdeki contente gidecegini yani sablonun hani sablon oldugunu belirtmelyiz -->
{% extends "base.html" %}

<!-- base sablonumuzdki hangi kısma gelecegini belitiryoruz -->

{% block title %}
BlogsPage Title
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- menu -->
        <div class="col-3">

            <!-- daha saglıklı calisma icin parcalaa boluyoruz buraya baska bir bolumdan parca dahil etmek icin
                 include kullanıyoruz (templates icersine bakar) -->
            {% include 'partials/_categories.html' %}

        </div>
        <!-- card -->
        <div class="col-9">
            <h1>Blogs Page</h1>
            <!-- uygulamaya ozgu html geleceginde bulundugu yerin yolunu gostericez -->
             <!-- ve de dinamik bir sekilde gosterecegimizden parametre olarak adlıgmız context
            icersindeki blogs tan cekecegiz -->
            {% for blog in blogs %}
                {% if blog.is_active %}
                    {% include 'blog/partials/_blog.html' %}
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock %}