<!-- nerdeki contente gidecegini yani sablonun hani sablon oldugunu belirtmelyiz -->
{% extends "base.html" %}

{% load static %}
<!-- static dosylarını yuklemek icin kullanılır -->

<!-- base sablonumuzdki hangi kısma gelecegini belitiryoruz -->

{% block title %}
Blogs_Details Title
{% endblock %}

{% block content %}


<div class="container mt-3">
    <div class="row">
        <!-- menu -->
        <div class="col-3">

            <!-- daha saglıklı calisma icin parcalaa boluyoruz buraya baska bir bolumdan parca dahil etmek icin
                 include kullanıyoruz (templates icersine bakar) -->
            {% include 'partials/_categories.html' %}

        </div>
        <!-- card -->
        <div class="col-9">
            <!-- id bilgisi gelecekti bizim requestimizden bunu render yaparken key value seklinde almıstık
         alınan bu degiskenleri kullanmak icin ic ice süslü parantez yapısını kullanırız -->
            
                <!-- gelen dinamik blogu gosterelim -->
                <!-- zaten tek blog gelceginden boyle yapıyoruz -->
                {% include 'blog/partials/_blog.html' %}


        </div>
    </div>
</div>
{% endblock %}