<!-- nerdeki contente gidecegini yani sablonun hani sablon oldugunu belirtmelyiz -->
{% extends "base.html" %}

<!-- base sablonumuzdki hangi kısma gelecegini belitiryoruz -->

{% block title %}
BlogsPage Title
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- menu -->
        <div class="col-3">

            <!-- daha saglıklı calisma icin parcalaa boluyoruz buraya baska bir bolumdan parca dahil etmek icin
                 include kullanıyoruz (templates icersine bakar) -->
            {% include 'partials/_categories.html' %}

        </div>
        <!-- card -->
        <div class="col-9">
            <h1>Blogs Page</h1>
            <!-- uygulamaya ozgu html geleceginde bulundugu yerin yolunu gostericez -->
             <!-- ve de dinamik bir sekilde gosterecegimizden parametre olarak adlıgmız context
            icersindeki blogs tan cekecegiz -->
            <!-- biz normalde getiriyorduk da uygulamamız dah agüzel gozuksun diye soyle bir
                yontem uygulayacacgiz bize bir blogs geliyor ve bu bazen atıyorum categoride hic
                blog yok bos gelicek ya sayfa bos gozukmesin oraya bir yazı yazalım diye if blog
                ları ve filteer kullanarak bir sistem olustualım -->
            <!-- yazılış tam böyle olmalı yoksa syttax hata veriyor -->
            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                    {% if blog.is_active %}
                        {% include 'blog/partials/_blog.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">

                    <div class="container">
                        <p class="display-6"> 
                          {{ selectedCategory.name|title }} adlı kategoriyle eşleşen bir ders bulunmuyor. 
                        </p>
                    </div>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}