<!-- nerdeki contente gidecegini yani sablonun hani sablon oldugunu belirtmelyiz -->
{% extends "base.html" %}

{% load static %}
<!-- static dosylarını yuklemek icin kullanılır -->

<!-- bu sayfaya ozgu css leri eklemek icin -->
{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
{% endblock %}
<!-- base sablonumuzdki hangi kısma gelecegini belitiryoruz -->

{% block title %}
HomePage Title
{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <!-- menu -->
        <div class="col-md-3">

            <!-- daha saglıklı calisma icin parcalaa boluyoruz buraya baska bir bolumdan parca dahil etmek icin
                 include kullanıyoruz (templates icersine bakar) -->
            {% include 'partials/_categories.html' %}

        </div>
        <!-- card -->
        <div class="col-md-9">
            <h1>Home Page</h1>
            <!-- uygulamaya ozgu html geleceginde bulundugu yerin yolunu gostericez -->
            <!-- ve de dinamik bir sekilde gosterecegimizden parametre olarak adlıgmız context
            icersindeki blogs tan cekecegiz -->
            {% for blog in blogs %}
                {% if blog.is_home and blog.is_active %}
                    {% include 'blog/partials/_blog.html' %}
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}
<script src="{% static 'blog/js/scripts.js' %}"></script>
{% endblock %}