<!-- nerdeki contente gidecegini yani sablonun hani sablon oldugunu belirtmelyiz -->
{% extends "base.html" %}

{% load static %}
<!-- static dosylarını yuklemek icin kullanılır -->

<!-- bu sayfaya ozgu css leri eklemek icin -->
{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
{% endblock %}
<!-- base sablonumuzdki hangi kısma gelecegini belitiryoruz -->

{% block title %}
HomePage Title
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<img src="{% static 'blog/img/doga2.png' %}" alt="Gorsel Bulunumadı" width="100">
{% endblock %}

{% block js_file %}
<script src="{% static 'blog/js/scripts.js' %}"></script>
{% endblock %}