<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <!-- url sekilinde faha once tanımladıgımız url lere ypnlendiriyoruz -->
        <a href="{% url 'home' %}" class="navbar-brand">BlogApp</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blogs' %}" class="nav-link">Blog</a>
            </li>
        </ul>
    </div>
</nav>